body {
  background: url(../order-summary-component-main/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  background-position: top;
  background-size: contain;
}

.card {
  width: 425px;
}